@font-face {
    font-family: 'mission_gothicregular';
    src: url('../fonts/mission_gothic_regular-webfont.eot');
    src: url('../fonts/mission_gothic_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mission_gothic_regular-webfont.woff2') format('woff2'),
         url('../fonts/mission_gothic_regular-webfont.woff') format('woff'),
         url('../fonts/mission_gothic_regular-webfont.ttf') format('truetype'),
         url('../fonts/mission_gothic_regular-webfont.svg#mission_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mission_gothicblack';
    src: url('../fonts/mission_gothic_black-webfont.eot');
    src: url('../fonts/mission_gothic_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mission_gothic_black-webfont.woff2') format('woff2'),
         url('../fonts/mission_gothic_black-webfont.woff') format('woff'),
         url('../fonts/mission_gothic_black-webfont.ttf') format('truetype'),
         url('../fonts/mission_gothic_black-webfont.svg#mission_gothicblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
