@import 'fonts.css';

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

* {
    margin: 0;
}

html, body {
    height: 100%;
}

header {
    background-color: #262526;
    overflow: auto;
}

header .logo {
    display: inline-block;
    width: 80px;
}

header .logo img{
    width: 100%;
}

header nav {
    float: right;
    padding: 5px 20px 5px 0;
}

header ul {
    color: #f2f2f2;
}

header ul li {
    margin: 15px 0;
    text-align: right;
    font-size: 1.3em;
    text-transform: uppercase;
    font-family: 'mission_gothicblack', sans-serif;
}

header ul li a, header ul li a:active, header ul li a:hover, header ul li a:visited {
    color: #f2f2f2;
    text-decoration: none;
}

header ul li a:hover, header ul li a:active, header ul li a.current {
    color: #F60A20;
}

#main_content {
    width: 80%;
    margin: 20px auto;
    font-family: 'mission_gothicregular', sans-serif;
    min-height: 100%;
    margin-bottom: -40px;
}

#main_content:after {
    content: "";
    display: block;
}


#main_content h1 {
    margin-bottom: 10px;
    font-size: 1.9em;
    font-family: 'mission_gothicblack', sans-serif;
}

#main_content h3 {
  font-size: 1.5em;
}

#main_content p {
    padding: 10px 0;
    line-height: 1.3em;
    font-size: 1.3em;
}

#main_content a, #main_content a:active, #main_content a:hover, #main_content a:visited {
    color: #F60A20;
    text-decoration: none;
}

.gallery img {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 7px;
}

textarea, input[type="text"],input[type="email"] {
    display: block;
    width: 80%;
    margin: 5px auto;
    font-size: 1.4em;
}

 input[type="text"], input[type="email"]{
    height: 50px;
}

 input[type="submit"] {
    display: block;
    margin: 0 auto;
}

footer, #main_content:after {
    height: 40px;
}

footer {
    background-color: #262526;
    color: #f2f2f2;
    font-family: 'mission_gothicregular', sans-serif;
    text-align: center;
}

footer p {
    padding-top: 10px;
}

.grid-item {
  width: 100%;
  padding: 5px;
}

.grid-item img {
  width: 100%;
  height: auto;
}

code {
  position: relative;
  left: -120px;
}

@media only screen and (min-width: 768px) {

  header {
    padding: 0 15%;
  }

  header .logo {
    width: 100px;
  }

  #main_content {
    width: 60%;
  }

  #main_content h1{
    font-size: 2.4em;
  }

  #main_content p {
    font-size: 1.1em;
  }

  .info_box {
    overflow: hidden;
  }

  .gallery {
    width: 50%;
    float: right;
  }

  .grid-item {
    width: 50%;
  }

}

@media only screen and (min-width: 1024px) {

  header {
    padding: 0 20%;
  }

  header .logo {
    width: 120px;
  }

  #main_content h1 {
    width: 70%;
    margin: 0 auto;
  }

  .narrower-body {
    width: 70%;
    margin: 0 auto;
  }

  .gallery {
    width: 30%;
    margin-right: 13%;
  }

  .grid-item {
    width: 33%;
  }

}
